@import "1140";

// Shades of gray

$gray1: rgb(49, 51, 48);
$gray2: rgb(70, 70, 70);
$gray3: rgb(100, 100, 100);
$gray4: rgb(139, 140, 139);
$gray5: rgb(217, 217, 217);
$side-margin: 15px;

body {
  background-color: $gray1;
  color: $gray5;
  font-family: Palatino, 'Palatino Linotype', 'Book Antiqua', serif;
}

h1 {
  font-size: 55px;
  font-weight: normal;
  margin: 10px;
  line-height: 100%;
  padding-bottom: 10px;
}

h2 {
  font-size: 34px;
  font-weight: normal;
}

h3 {
  font-size: 25px;
  font-weight: normal;
  text-align: left;
  margin-left: $side-margin;
  margin-top: 35px;
  padding-bottom: 10px;
}

a {
  text-decoration: none;
}

.info {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  p {
    margin-left: $side-margin;
    margin-right: $side-margin;
    text-align: justify;
    margin-top: 16px;
    font-size: 16px;
    line-height: 130%;
  }
  div {
    margin-left: $side-margin;
    margin-right: $side-margin;
  }
  .caption {
    font-size: 14px;
  }
  a {
    color: $gray4;
    &:hover {
      color: $gray5;
    }
  }
}

.navbar {
  margin-top: 50px;
  margin-bottom: 40px;
  padding: 10px;
  font-size: 18px;
  color: $gray2;
  line-height: 100%;
  .active {
    color: $gray4;
  }
  a {
    color: $gray2;
    &:hover {
      color: $gray3;
    }
  }
  font-weight: lighter;
  border: {
    style: solid;
    width: 1px;
    left: {
      style: none;
    }
    right: {
      style: none;
    }
  }
}

.picture {
  margin-top: 40px;
  text-align: right;
  margin-right: 0px;
  .caption {
    margin-top: 2px;
    font-size: 12px;
  }
}